* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Kantumruy Pro', sans-serif;
    color: var(--light);
    font-size: 62.5%;
    background: url('../../asset/img/Content/bg-app.jpg') top left / cover no-repeat;
}

body {
    overflow: hidden;
}

/* ===== Reset CSS ===== */
ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, 
h4, h5, h6 {
    padding: 0;
}

table {
    border-collapse: collapse;
}

input, button {
    outline: none;
    border: none;
    font-family: 'Kantumruy Pro', sans-serif;
}

/* ===== Color palette ===== */
:root {
    --dark: #14121E;
    --light: #FFFFFF;
    --coral: #FF7070;
    --golden: #00ff99;
    --light-bg: #ffffff36;
    --gradient-bg: linear-gradient(#FEECDE, #dbc1fa);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: var(--coral);
    border-radius: 20px;
}
