* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Kantumruy Pro', sans-serif;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, 
h4, h5, h6 {
    padding: 0;
}

input, button {
    outline: none;
    border: none;
}

