.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.mb-0 {
    display: none;
}

.mb-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.mb-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.mb-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.mb-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.mb-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.mb-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.mb-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.mb-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.mb-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.mb-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.mb-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.mb-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.mb-o-2 {
    margin-left: 16.66667%;
}

.mb-o-3 {
    margin-left: 25%;
}

.mb-o-4 {
    margin-left: 33.33333%;
}

.mb-o-5 {
    margin-left: 41.66667%;
}

.mb-o-6 {
    margin-left: 50%;
}

.mb-o-7 {
    margin-left: 58.33333%;
}

.mb-o-8 {
    margin-left: 66.66667%;
}

.mb-o-9 {
    margin-left: 75%;
}

.mb-o-10 {
    margin-left: 83.33333%;
}

.mb-o-11 {
    margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 48em) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .tb-0 {
        display: none;
    }

    .tb-1,
    .tb-2,
    .tb-3,
    .tb-4,
    .tb-5,
    .tb-6,
    .tb-7,
    .tb-8,
    .tb-9,
    .tb-10,
    .tb-11,
    .tb-12 {
        display: block;
    }

    .tb-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .tb-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .tb-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .tb-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .tb-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .tb-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .tb-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .tb-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .tb-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .tb-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .tb-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .tb-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tb-o-1 {
        margin-left: 8.33333%;
    }

    .tb-o-2 {
        margin-left: 16.66667%;
    }

    .tb-o-3 {
        margin-left: 25%;
    }

    .tb-o-4 {
        margin-left: 33.33333%;
    }

    .tb-o-5 {
        margin-left: 41.66667%;
    }

    .tb-o-6 {
        margin-left: 50%;
    }

    .tb-o-7 {
        margin-left: 58.33333%;
    }

    .tb-o-8 {
        margin-left: 66.66667%;
    }

    .tb-o-9 {
        margin-left: 75%;
    }

    .tb-o-10 {
        margin-left: 83.33333%;
    }

    .tb-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 69.5625em) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding: 5px;
    }

    .pc-0 {
        display: none;
    }

    .pc-1,
    .pc-2,
    .pc-2-4,
    .pc-3,
    .pc-4,
    .pc-5,
    .pc-6,
    .pc-7,
    .pc-8,
    .pc-9,
    .pc-10,
    .pc-11,
    .pc-12 {
        display: block;
    }

    .pc-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .pc-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .pc-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .pc-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .pc-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .pc-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .pc-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .pc-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .pc-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .pc-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .pc-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .pc-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .pc-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .pc-o-1 {
        margin-left: 8.33333%;
    }

    .pc-o-2 {
        margin-left: 16.66667%;
    }

    .pc-o-3 {
        margin-left: 25%;
    }

    .pc-o-4 {
        margin-left: 33.33333%;
    }

    .pc-o-5 {
        margin-left: 41.66667%;
    }

    .pc-o-6 {
        margin-left: 50%;
    }

    .pc-o-7 {
        margin-left: 58.33333%;
    }

    .pc-o-8 {
        margin-left: 66.66667%;
    }

    .pc-o-9 {
        margin-left: 75%;
    }

    .pc-o-10 {
        margin-left: 83.33333%;
    }

    .pc-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 48em) and (max-width: 63.9375em) {
    .wide {
        width: 644px;
    }
}

/* > PC low resolution */
@media (min-width: 64em) and (max-width: 77.4375em) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding: 5px;
    }

    .wide .pc-0 {
        display: none;
    }

    .wide .pc-1,
    .wide .pc-2,
    .wide .pc-2-4,
    .wide .pc-3,
    .wide .pc-4,
    .wide .pc-5,
    .wide .pc-6,
    .wide .pc-7,
    .wide .pc-8,
    .wide .pc-9,
    .wide .pc-10,
    .wide .pc-11,
    .wide .pc-12 {
        display: block;
    }

    .wide .pc-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .pc-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .pc-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .pc-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .pc-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .pc-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .pc-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .pc-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .pc-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .pc-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .pc-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .pc-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .pc-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .pc-o-1 {
        margin-left: 8.33333%;
    }

    .wide .pc-o-2 {
        margin-left: 16.66667%;
    }

    .wide .pc-o-3 {
        margin-left: 25%;
    }

    .wide .pc-o-4 {
        margin-left: 33.33333%;
    }

    .wide .pc-o-5 {
        margin-left: 41.66667%;
    }

    .wide .pc-o-6 {
        margin-left: 50%;
    }

    .wide .pc-o-7 {
        margin-left: 58.33333%;
    }

    .wide .pc-o-8 {
        margin-left: 66.66667%;
    }

    .wide .pc-o-9 {
        margin-left: 75%;
    }

    .wide .pc-o-10 {
        margin-left: 83.33333%;
    }

    .wide .pc-o-11 {
        margin-left: 91.66667%;
    }
}
